* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.navLinks {
    display: flex;
    column-gap: 20px;
}

.navLinks a {
    color: #1d232c;
    text-decoration: none;
}

.navLinks a:hover {
    text-decoration: underline;
}

.toggleMenu {
    display: none;
}

/* Media Query------------------------------------------- */
@media screen and (max-width: 700px) {
    .toggleMenu {
        display: block;
    }

    .navLinks {
        display: none;
    }

    .header {
        flex-direction: column;
    }

    /* 
    .imgheader {
        display: none;
    } */

    .serCont2 {
        flex-direction: column;
    }

    .serCont1 div {
        display: none;
    }

    .new-arrival-container {
        flex-basis: 50%;
    }
}

/* --------------------------------------------------------- */
.side-nav {
    background-color: #1d232c;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    color: white;
    transition: 1s;
}

.side-navLink {
    margin-bottom: 20px;
}

.side-navLink a {
    color: white;
    text-decoration: none;
}

.side-navLink a:hover {

    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
}

.headerBTN {
    background-color: #1d232c;
    color: white;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.serviceSection {
    padding: 20px;
}

.serCont1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serCont2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.serCont2 div {
    background-color: #f2f4f7;
    border-radius: 10px;
    padding: 20px;
}

.new-arrival {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival-container button {
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 5px;
    color: #1d232c;
    position: absolute;
    left: 18%;
    top: 50%;
}

.news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.news input {
    padding: 11px;
    width: 80vw;
    border: 3px solid black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.news button {
    background-color: #1d232c;
    color: white;
    border-radius: 10px;
    border: none;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
}

.footer {
    margin-top: 40px;
    background-color: #1d232c;
    color: white;
    padding: 40px;
}

.product-section {
    margin: 20px;
}

.product-search {
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    margin: auto;
}

.product-search input {
    border: none;
    background-color: transparent;
    width: 100%;
}

.product-search input:focus {
    outline: none;
}

.products {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    margin-top: 40px;
}

.product-box {
    text-align: center;
    flex-basis: 20%;
}

.product-box img {
    border-radius: 10px;
}